*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}
:root{
    --pri-color-fill: #3498db;
    --sec-color-empty: #e0e0e0;
}
html,body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container{
    text-align: center;
}
.progress-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 350px;
    margin-bottom: 50px;
}
.progress-container::before{
    content: '';
    background-color: var(--sec-color-empty);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.progress{
    background-color: var(--pri-color-fill);
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--sec-color-empty);
    transition: .4s ease;
}
.circle.active{
    border-color: var(--pri-color-fill);
}
.btn{
    background-color: var(--pri-color-fill);
    color: #fff;
    border: 0;
    border-radius: 10px;
    font-size: 24px;
    font-family: inherit;
    margin: 8px;
    padding: 10px 30px;
    cursor: pointer;
}
.btn:active{
    transform: scale(.98);
}
.btn:focus{
    outline: 0;
}
.btn:disabled{
    cursor: not-allowed;
    background-color: var(--sec-color-empty);
}

